 body{
        width: 100%;
        margin:0;
}
ul li{
        display:inline;

        float: right;
}
ul{
        background-color: rgba(0, 0, 0, 0.8);
}
li a{
        display:inline-block;
        text-align:center;
        padding:14px 16px;
        text-decoration:none;
    }
li a:hover, .dropdown:hover{
        background-color: #AD0E00;
}
.dropdown{
        display:inline-block;
}
.content{
        display: none;
        position: absolute;
}
.content a{
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align:left;
}
.content a:hover{
	box-shadow: 20px;
/* I tried to use box shadow here but the hover effect wouldnt cooperate with the box shadow.*/
}
.dropdown:hover .content{

        display:block;
}

h1 {

		font-family: "Alegreya SC", cursive;

	}
body {

		margin: 0;

}
.crowngif {
		float: left;

		width: 100px;

		height: 75px;

		transform: rotate(-30deg);

		padding-bottom: 10px;
	}
#header {
		background-color: rgba(0, 0, 0, 0.8);

		position: fixed;

		top: 0;

		height: 80px;

		width: 100%;

		margin: 0;
		
		}
footer {
		background-color: rgba(0, 0, 0, 0.8);

		position: fixed;

		height: 80px;

		width: 100%;

		top: 92%;

		}
.social {
		float: right;
		margin-right: 20px; 
		width: 40px; 
		height: 40px;
		padding-top: 10px;

	}
.anchors {
		text-decoration: none;
		color: gold;
		font-family: Alegreya SC, cursive;
	}
.songs {
		display: inline;

		font-family: "Special Elite";

		color: white;

		font-size: 15px;

		}
#dropdowncontent {

		display: none;

		text-decoration: none; 

		color: black;
		}
#dropdowncontent a{

			display: block;
		}
#dropdowncontent a:hover { 

			background-color: #AD0E00
		}
#dropdown:hover #dropdowncontent{

			display: block;
		}

.bigbox {

    position: fixed;

    font-family: Arial, Helvetica, sans-serif;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    background: rgba(0,0,0,.75);

    z-index: 99999;

    opacity: 0;

    -webkit-transition: opacity 400ms ease-in;

    -moz-transition: opacity 400ms ease-in;

    pointer-events: none;
    /* This part is indicating the div will transition in at a rate of 400 millseconds per frame, 
    and solidify its opacity as it does.*/

}

.bigbox:target {

    opacity: 1;

    pointer-events: auto;
    /* This is indicating where the div above is looking to reach as far as opacity level. Once it reached 1.0, 
    it will have reached its target and stop the ease in transition.*/
}

.bixbox > div {

    width: 400px;

    position: absolute;

    margin: 10% auto;

    padding: 5px 20px 13px 20px;

    border-radius: 10px;

    background: #fff;

    background: -moz-linear-gradient (#fff, #999);
}

.close {

    background: #606061;

    color: #FFFFFF;

    line-height: 25px;

    position: absolute;

    text-align: center;

    width: 24px;

    text-decoration: none;

    font-weight: bold;

    border-radius: 12px;

    box-shadow: 1px 1px 3px #000;           

}

.close:hover {

    background: #00d9ff;

}

.box {
	position: absolute;

    left: 35%;

    top: 20%;

}
